<div class="container-fluid h-100">
  <div class="row">
    <% @type.articles.each_slice(2) do |a1, b1| %>
      <%= count_type(a1, @count) %>
      <%= count_type(b1, @count) %>
      <% @count += 1 %>
    <%end%>
      
  </div>
</div>