<li>
  <div class="user-list">
    <%= user.avatar %>
    Name: <%= user.name %>
    <a class="btn btn-primary">
      <%= link_to 'See Profile', user_path(user), class: 'profile-link'%>
    </a>
    <%= nu_display(current_user, user)%>
  </div>
</li>