<div class="art-reviews">
  <p>
    <%= review.reviewer.name %>
    <br>
    <%= review.body %>
  </p>
  <span> <%= review.created_at.strftime("%Y/%m/%d") %> </span>
  <hr>
  <%= rev_options(review) %>
</div>