<div class="art-reviews">
  <p>
    <%= review.user.name %>
    <br>
    <%= review.body %>
  </p>
  <span> <%= review.created_at.strftime("%Y/%m/%d") %> </span>
  <hr>
  <%= link_to 'Destroy', article_review_path(review), method: :delete, data: { confirm: 'Are you sure?' } %>
</div>